{% extends "base.html" %}
{% block title %}Обновите ваш пароль{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-4">
        <div class="row col-5">
            <h1>Сбросить пароль</h1>
            {% if validlink %}
                <p>Пожалуйста, введите новый пароль дважды:</p>
                <form method="post">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <p><input type="submit" class="btn btn-outline-info mt-3" value="Изменить пароль"/></p>
                </form>
            {% else %}
                <p class="mt-3">Ссылка для сброса пароля недействительна, возможно, потому, что она
                     уже был использован. Пожалуйста, запросите сброс нового пароля.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
