{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change your password{% endblock %}
{% block content %}
    <div class="container  mt-4">
        <div class="row col-5">

            <h1>Измените свой пароль</h1>
            <p>Используйте форму ниже чтобы изменить ваш пароль.</p>
            <form method="post">
                {{ form|crispy }}
                <p><input type="submit" class="mt-2 btn btn-outline-info" value="Изменить"></p>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}