.navbar-light {
    background-color: #3cd554;
}


.nav-item:hover {
    background-color: #15b9c7;
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color: #ffffff;
}

body {
    background-color: #ffffff !important;
    box-sizing: border-box;
    display: grid;
    height: 100vh;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer';
}

.col a {
    text-decoration: none;
    color: #00008b;
}

.img_size {
    max-width: 500px;
    position: relative;
    right: -30%;
}

.another_blog {
    min-width: 25%;
    background-color: #15b9c7;
    margin-left: 30px;
    max-height: 400px;
    border: 1px solid black;
}

.another_blog li {
    list-style: none;
}

.margin_left {
    margin-left: 20px;
}

.colo_r {
    background-color: #15b9c7;
}

.colo_r1 {
    background-color: darkseagreen
}

.user {
    padding-left: 15px;
}

.user a {
    padding-left: 10px;
}

.footer {
    min-height: 250px;
    background-color: #2c2c61;
}
.log-out a{
color:  #3cd554 ;
}